body{
    margin: 0;
    padding: 0;
}
.logoholder{
    background-color: #1807d9;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    width: fit-content;
    height: fit-content;
    padding: 0.7rem 0.7rem;
    margin-left: 1em;
    position: absolute;
}
.logotext{
    color: aliceblue;
    font-size: 1.5rem;
    margin: 0;
}
.topband{
    margin-top: 1.05rem;
    background-color: #0ECCB9;
    width: 100%;
    height: fit-content;
    position: absolute;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
.topicon{
    width: 5ex;
    height: 100%;
    margin-right: 1.8%;
    padding: 0;
    left: 18ex;
    position: relative;
    cursor: pointer;
}
.circleshape{
    border-radius: 100%;
}

.mainarea{
    min-width: 50%;
    width: fit-content;
    height: 50%;
    margin: 6% 25% 0% 25%;
    position: absolute;
}
.dpImage{
    width: 8%;
    height: 8%;
    border-radius: 50%;
    margin-bottom: -5%;
    position: relative;
    left: 5%;
    box-shadow: 0px 0px 4px 2px #1807D9;
}
.postImage{
    width: 100%;
    margin-bottom: 0;
}
.postIcon{
    width: 25%;
    z-index: -0;
    position: relative;
    margin: 3% 2%;
}
.postOptions{
    border: 0.4ex solid #1807d9;
    width: 15%;
    height: fit-content;
    margin-top: -1%;
    padding: 0;
    margin-left: 3%;
}
.postCaption{
    border-left: 0.4ex solid #1807d9;
    width: 50%;
    height: fit-content;
    padding: 0;
    margin-left: 3%;
}
.caption{
    margin: 0;
    font-size: 125%;
    font-family: Arial, Helvetica, sans-serif;
}
.time{
    margin: 0;
    color: cadetblue;
}
.curveLine{
    width: 100%;
}
.search{
    animation-duration: 4s;
    width: 100%;
    background-color: blue;
    position: absolute;
    animation-fill-mode: forwards;
    opacity: 80%;
}
@keyframes searchanimation{
    0%{
        height: 0%;
    }
    100%{
        height: 100%;
    }
}
.searchinput{
    display: none;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    display: none;
}
.searchsubmit{
    
    animation-fill-mode: forwards;
    animation-duration: 4s;
    display: none;
}