{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spark X</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="icon" href="{% static 'images/favicon123.png'%}" type="image" sizes="16x16" class="favicon">
</head>

<body>
    <div class="header">
        <span class="topband">
            <img src="{% static 'images/chaticon.png'%}" class="topicon">
            <img src="{% static 'images/notificationicon.png'%}" class="topicon">
            <img src="static/media/{{user.Dp}}" class="  topicon circleshape">
            <img src="{% static 'images/settingsicon.png'%}" class="topicon">
        </span>
        <div class="logoholder">
            <p class="logotext">Spark X</p>
        </div>
    </div>
    <div class="mainarea"></div>
    <!-- <div class="postimage">
        <img src="{% static 'images/download.jpg'%}" class="postimage">
    </div> -->
</body>

</html>